/*Responsive mobile design*/
@media (max-width:700px) {
    .attribution br {
        display: initial;
    }
}

@media (max-width:800px) and (max-height:370px) {
    #scan-card {
        width:200px;
        height: auto;
        background-color: var(--white);
        border-radius: 10px;
        padding: 5px;
        box-shadow: none;
    }
    
    img {
        border-radius: 10px;
        max-width: 80%;
        margin-top: 5px;
    }
    
    #scan-card h1 {
        font-weight: 700;
        font-size: 0.8rem;
        margin-bottom: 5px;
        text-align: center;
    }
    
    #scan-card p {
        font-weight: 400;
        font-size: 0.6rem;
        margin-top: 5px;
        text-align: center;
    }
    
}
/*End of responsive design*/
